{% extends 'base.html' %}

{% block body %}
<div class="container text-center">
	<br>
	<p> &nbsp; </p>
	<p> &nbsp; </p>
	<p> &nbsp; </p>
	<div class="col-sm-offset-3 col-sm-6">
	<p>&nbsp;</p>
	<p>&nbsp;</p> 
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div class="panel panel-primary panel-transparent" style="background: rgba(0, 91, 172, 0.) !important; color:blue;">
	  <div class="panel-body">
	  <h1 class="text-center" style="color:#ffffff;">Welcome to Sover</h1>
		<p>&nbsp;</p> 
	  <h2 class="text-center" style="color:#ffffff;">Sign In</h2>
	  <p>&nbsp;</p>
	  <form class="form-horizontal" role="form" action="#">
		<div class="form-group">
		  <div class="col-sm-offset-2 col-sm-8">
		  <input type="text" class="form-control" name="username" value="" placeholder="Enter Username">
		  </div>
		</div>
		<div class="form-group">
		  <div class="col-sm-offset-2 col-sm-8">  
		  <input type="password" class="form-control" name="password" value="" placeholder="Password">
		  </div>
		</div>
		<p>&nbsp;</p>
		<div class="text-center">
		<button type="submit" class="btn btn-default" style="background: rgba(46, 51, 56, 0.2) !important; color:#ffffff;" value="Sign In">Submit</button>
		</div>
	  </form>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  </div>
	 </div>
	</div>

</div>
<p>&nbsp;</p>
{% endblock %}

{% block head %}
<script>
$(document).ready(function() {
    $(".collpase").collapse();
});
</script>
<style>
body {
    background: #DEDEDE url("static/sover.jpg") no-repeat center top;
}
</style>
{% endblock %}
